* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {  /* dimensione screenshot Figma (1080px dimensione desktop) */
    width: 1920px;
    height: 7445px;
}

/*=============================================
    =            Classi utility           =
=============================================*/

.d_flex {
    display: flex;
}

a:link, a:visited {
    text-decoration: none;
    color: #C0C3D0;
    background-color: transparent;
}

/*=============================================
    =            Section Header           =
=============================================*/

header {
    height: 50px;
    background-color: #24333d;
    color: #C0C3D0;
    font-family: "Roboto", "sans-serif";
    font-size: 15px;
    position: relative;
    z-index: 1;
}

.my_header {
    height: 100%;
}

.first_third, .second_third {
    justify-content: space-evenly;
    align-items: center;
}    

.first_third {    
    width: 54%;
}

.second_third { 
    width: 19%;
}

.second_third > span > span:nth-child(1) {
    margin-right: 30px;
}

.third_third {
    justify-content: flex-start;
    align-items: center;
    width: 27%;
}

.third_third > span  {
    justify-content: space-around;
    width: 30%;
}

header .fas::before, header .fab::before {
    padding-right: 5px;
}

.second_third a:nth-child(2) {
    color: #C0C3D0;
    text-decoration: none;
}


.fa-envelope:hover, .second_third a:nth-child(2):hover  {
    color: darkorange;  
}

.fa-facebook-f:hover { 
    color: #3b5998;
    cursor: pointer;
}

.fa-twitter:hover { 
    color: #1da1f2;
    cursor: pointer;
}

.fa-linkedin-in:hover {
    color:#0e76a8;
    cursor: pointer;
}

/*=====  End of Section Header ======*/


/*=============================================
=            Section Jumbotron            =
=============================================*/

main {
    height: calc(7445px - 710px - 50px);
}

.position {
    background-color: black;
    height: 860px;
    width: 100%;
    filter: brightness(40%);
    -webkit-filter: brightness(40%);
}

.jumbotron {
    background-image: url('../img/hero-image.png');
    background-size: cover;
    background-position: bottom;
    width: 100%; 
    height: 860px; 
}

/*----------  Subsection Navbar  ----------*/

.navbar {
    height: 70px;
    width: 100%;
    font-family: "Roboto", "sans-serif";
    font-size: 20px;
    color: white;
    text-shadow: 1px 1px 1px black;
    letter-spacing: 2px;
}

.left {
    width: 27%;
    justify-content: flex-end;
    align-items: center;
}
   
.right {
    width: 53%;
    justify-content: end;
    align-items: center;
}

.right span {
    cursor: pointer;
    padding-left: 16px;
}

.right span:hover {
    color: darkorange;
}

#nex {
    color: #39c4c6;
}

#touch {
    background-color: #39c4c6;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    padding: 10px 16px;
    margin-left: 16px;
}

/*----------  End of Subsection Navbar  ----------*/


/*----------  Subsection Slogan centrale  ----------*/

.central_message {
    font-family: "Roboto", "sans-serif";
    color: white;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.center {
    width: 100%;
    height: auto;
    justify-content: center;
}
#lead {
    font-family: "Arial Black";
    font-size: 63px;
    font-weight: 900;
    letter-spacing: -2px;
    text-shadow: 1px 1px 1px black;
}

.sub_slogan {
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding-bottom: 35px;
    padding-top: 25px;
    letter-spacing: 1px;
}

.sub_slogan > span:nth-child(2) {
    padding-top: 5px;
}

.buttons {
    justify-content: center;
}

#read {
    border: 1px solid #39c4c6;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    padding: 10px 16px;
    margin-left: 16px;
}

#read:hover {
    background-color: #39c4c6;
}

/*----------  End of Subsection Slogan centrale  ----------*/


/*=====  End of Section Jumbotron  ======*/


/*=============================================
=            Section Key Values           =
=============================================*/

.sand {
    width: 100%;
    height: 605px;
    background-color: #e3e7df;
    justify-content: center;
    align-items: center;
    
}

.key_values {
    width: 350px;
    height: 300px;
    background-color: white;
    margin-top: 50px;
    margin-left: 20px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    flex-direction: column;
    justify-content: center;
}

.card_box {
    width: 80%;
    align-self: center;
}

.card_title {
    font-family: "Arial Black";
    font-size: 15px;
    font-weight: 900;
    color: #1e2223;
    margin-top: 10px;
    margin-bottom: 15px;
}

.card_image {
   width: 80px;
   height: 80px; 
}

.card_message {
    font-family: "Arial";
    font-size: 15px;
    
}
/*=====  End of Section Key values  ======*/





